ul {
  list-style: none; /* Убирает маркеры списка */
  margin: 0; /* Убирает отступы снаружи элемента */
  padding: 0; /* Убирает отступы внутри элемента */
  display: flex; /* Использует flexbox для упорядочивания элементов списка */
}

li {
  margin: 0 20px; /* Добавляет отступы между элементами списка */
  position: relative; /* Устанавливает позиционирование элемента списка как относительное */
}

h3 {
  margin: 0; /* Убирает отступы вокруг заголовка */
  font-size: 18px; /* Задает размер шрифта */
  text-transform: uppercase; /* Приводит текст к верхнему регистру */
  color: #333; /* Задает цвет текста */
  letter-spacing: 1px; /* Задает расстояние между символами */
}

ul ul {
  display: none; /* Скрывает вложенное меню */
  position: absolute; /* Устанавливает позиционирование вложенного меню как абсолютное */
  top: 100%; /* Отодвигает вложенное меню вниз на 100% высоты родительского элемента */
  left: 0; /* Располагает вложенное меню слева от родительского элемента */
  background-color: #fff; /* Задает цвет фона вложенного меню */
  padding: 10px; /* Задает внутренние отступы для вложенного меню */
  box-shadow: 0 2px 5px rgba(145, 4, 4, 0.2); /* Добавляет тень вокруг вложенного меню */
}

li:hover ul {
  display: block; /* Отображает вложенное меню при наведении курсора на элемент списка */
}

li:hover a {
  color: #fff; /* Задает цвет текста элемента списка при наведении на элемент списка */
}

li a {
  text-decoration: none; /* Убирает подчеркивание ссылки */
  color: black; /* Задает цвет текста элемента списка */
  font-size: 16px; /* Задает размер шрифта элемента списка */
  transition: color 0.2s ease-in-out; /* Добавляет плавное изменение цвета текста элемента списка при наведении курсора на него */
}

li:hover ul li a { 
  color: #000; /* Задает цвет текста элементов вложенного меню при наведении курсора на элемент списка */  
}

a:hover {
  color: #fff; /* Задает цвет текста ссылки при наведении на нее */
}